version: "3.9"

services:
  mongo:
    image: mongo:7.0
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
    environment:
      MongoDb__ConnectionString: "mongodb://root:example@mongo:27017"
      MongoDb__Database: "imagesdb"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "5000:8080"

volumes:
  mongo-data:
